* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main_menu {
  position: relative;
  width: 100%;
  z-index: 999;
  background-color: #ecfdff;
  
}

.main_menu .navbar-brand {
  padding-top: 0rem;
  padding-bottom: 0px;
}

.main_menu .navbar {
  padding: 0px;
}

.main_menu .main-menu-item ul li .nav-link {
  color: #000;
  font-size: 15px;
  padding: 36px 23px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  line-height: 12px;
  font-weight: 400;
}

.main_menu .main-menu-item ul li .nav-link:hover {
  color: #000;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .main_menu .main-menu-item ul li .nav-link {
    padding: 35px 20px;
  }
}

.main_menu #search_1 i {
  color: #000;
}

.main_menu #search_input_box {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  max-width: 1340px;
  z-index: 999;
  text-align: center;
  background: #ff3368;
}

.main_menu #search_input_box ::placeholder {
  color: #fff;
}

@media (max-width: 991px) {
  .main_menu #search_input_box {
    margin-top: 15px;
  }
}

.main_menu #search_input_box .form-control {
  background: transparent;
  border: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  padding: 0;
}

.main_menu #search_input_box .btn {
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
}

.main_menu #search_input_box .ti-close {
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  padding: 10px;
  padding-right: 0;
}

.main_menu .search-inner {
  padding: 5px 5px;
}

.main_menu .form-control:focus {
  box-shadow: none;
}

.main_menu .active_color {
  color: #f5790b !important;
}

.main_menu a i {
  color: #000;
  position: relative;
  z-index: 1;
  font-size: 15px;
  margin-left: 30px;
}

.main_menu .cart .dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border: 0px solid transparent;
}

.main_menu .cart i {
  color: #000;
  position: relative;
  z-index: 1;
  font-size: 15px;
}

.main_menu .cart i:after {
  position: absolute;
  border-radius: 50%;
  background-color: #f13d80;
  width: 14px;
  height: 14px;
  right: -8px;
  top: -8px;
  content: "5";
  text-align: center;
  line-height: 15px;
  font-size: 10px;
  color: #fff;
}

.menu_fixed {
  position: fixed;
  z-index: 9999 !important;
  width: 100%;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
  top: 0;
  background-color: #ff3368;
}

.menu_fixed .active_color {
  color: #ff3368 !important;
}

.dropdown .dropdown-menu {
  transition: all 0.5s;
  overflow: hidden;
  transform-origin: top center;
  transform: scale(1, 0);
  display: block;
  border: 0px solid transparent;
  background-color: #ff3368;
}

.dropdown .dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 8px 20px !important;
  color: #fff !important;
  background-color: #ff3368;
  text-transform: capitalize;
}

.dropdown:hover .dropdown-menu {
  transform: scale(1);
}

@media (max-width: 991px) {
  .main_menu {
    padding: 26px 0px;
  }

  .home_menu .main-menu-item {
    padding-left: 0px;
  }

  .main_menu .main-menu-item {
    text-align: left !important;
  }

  .main_menu .main-menu-item .nav-item {
    padding: 10px 15px !important;
  }

  .main_menu .main-menu-item .nav-item .nav-link {
    padding: 5px 15px !important;
    color: #000;
  }

  .navbar-collapse {
    z-index: 9999 !important;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    background-color: #fff;
    text-align: center !important;
  }

  .dropdown .dropdown-menu {
    transform: scale(1, 0);
    display: none;
    margin-top: 10px;
  }

  .dropdown:hover .dropdown-menu {
    transform: scale(1);
    display: block;
    color: #ff3368;
  }

  .dropdown .dropdown-item:hover {
    color: #ff3368 !important;
  }

  .navbar-brand img {
    max-width: 100px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    display: inline-block;
    top: 0;
  }
/* start breadcrumb */



/* end breadcrumb */

  .navbar-light .navbar-toggler {
    border-color: transparent;
    position: absolute;
    left: 0;
  }

  .menu_icon i {
    color: #000;
  }

  .main_menu a i {
    margin-left: 13px;
  }
}

@media (max-width: 576px) {
  .main_menu {
    padding: 20px 0px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .main_menu {
    padding: 20px 0px;
  }
}

.dropdown-menu {
  border: 0px solid rgba(0, 0, 0, 0.15) !important;
  background-color: #fafafa;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.home_menu .menu_btn:hover a {
  color: #fff !important;
}

.home_menu .main-menu-item {
  justify-content: center !important;
}

.single_page_menu .main-menu-item {
  justify-content: flex-end;
}

.single_page_menu .main-menu-item ul li .nav-link:hover {
  color: #ff3368 !important;
}

nav img {
  /* width: 100px;
  height: 100px;
  border-radius: 50%; */
}

.banner-section {
  background-color: #ecfdff;

}

.carousel-item {
  padding-top: 100px;
  padding-bottom: 100px;

}

.carousel-caption {
  color: black;
  max-width: 400px;
  transform: translate(650px, -150px);
}

.carousel-caption h5 {
  font-size: 34px;
  font-weight: 900;

}

.carousel-caption a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.carousel-caption button {
  padding: 10px 40px;

}

.productCard {
  background-color: #ecfdff;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 40px;
}

.footer_part {
  padding: 50px 0px;
}

.footer_part .list-unstyled li a {
  text-decoration: none;
  color: gray;
  font-size: 20px;
  transition: .6s;
}

.footer_part .list-unstyled li a:hover {
  color: orangered;
}

#newsletter-form-email {
  padding: 20px 15px;
  font-size: 13px;
  border-radius: 5px;
  border: 0px solid transparent;
  margin-top: 20px;
  width: 80%;
  background-color: #f9f9fe;
}

#newsletter-submit {
  height: 60px;
}

.shop_Card {
  transition: .6s;
  border-radius: 10px;
}

.shop_Card:hover {
  box-shadow: 5px 3px 15px 4px #f9f9fe;
  transform: scale(1.1);
}

.shop_Card a {
  text-decoration: none;
  color: red;
  font-size: 22px;
  font-weight: 700;
}

.Weekly_Sale {
  background-color: #ecfdff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.weekly_sale_text h2 {
  font-size: 50px;
  line-height: 70px;
  font-weight: 700;
}